* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("helping_hand1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
}

header {
    background-color: seashell;
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-size: larger;
}

.nav_link {
    transition: 0.7s ease;
}

.nav_link:hover {
    color: steelblue;
    font-weight: bold;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}

h1 {
    text-align: left;
    margin-top: 1%;
    margin-left: 5%;
    font-size: 7vw;
}

h2 {
    margin-left: 12%;
    font-size: 6vw;
}

.logo {
    width: 8em;
    height: auto;
}

footer {
    position: fixed;
    min-height: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: seashell;
    text-align: center;
    font-style: italic;
    font-size: 5vw;
    text-align: center;
}



@media(max-width: 600px) {
    .hamburger {
        display: block
    }
  
    .nav_menu {
        position: fixed;
        left: 100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: seashell;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav_item {
        margin: 16px 0;
    }

    .nav_menu.active {
        left: 0;
    }
}

@media(min-width: 600px) {
   footer {
     font-size: 2vw;  
   } 
   h1 {
    font-size: 3vw;
       margin-left: 10%;
   }
    h2 {
        margin-left: 15%;
        font-size: 2vw;
}

