* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("helping_hand1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
}

.logo {
    width: 7em;
    height: auto;
}

h1 {
    text-align: center;
    margin-top: 1em;
}
h3 {
    font-style: italic;
    text-align: center;
}

/* Add a background color to the top navigation */
nav {
    background-color: seashell;
    text-align: center;
}

/* Style the links inside the navigation bar */
nav ul {
    display: inline-flex;
    list-style: none;

}

nav ul li {
    width: 6em;
    padding: .75em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.active,
nav ul li:hover {
    background: slategrey;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: seashell;
    text-align: center;
}
