* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    font-family: sans-serif;

}

header {
    background-color: seashell;
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-size: larger;
}

.nav_link {
    transition: 0.7s ease;
}

.nav_link:hover {
    color: steelblue;
    font-weight: bold;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}

.logo {
    width: 8em;
    height: auto;
}

footer {
    position: fixed;
    min-height: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: seashell;
    text-align: center;
    font-style: italic;
    font-size: 5vw;
    text-align: center;
    color: black;
}

.flex_container{
    display: flex;
     flex-wrap: wrap;
}


.flex_container img {
  width: 100%;   
    object-fit: contain;
  min-width: 280px;  
                         
}

@media(max-width: 600px) {
    .hamburger {
        display: block
    }

    .nav_menu {
        position: fixed;
        left: 100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: seashell;
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }

    .nav_item {
        margin: 16px 0;
    }

    .nav_menu.active {
        left: 0;
    }
}

h1{
    text-align: center;
}



@media(min-width: 600px) {
 

    footer {
        font-size: 2vw;
        }

}


